skills/yuyonghao-123/yuyonghao-n8n-integration/examples/workflow-example.json
{
  "name": "OpenClaw Agent Trigger",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "openclaw-agent-trigger",
      "httpMethod": "POST",
      "path": "trigger-agent",
      "responseMode": "lastNode"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3002/webhook/trigger",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-N8N-Token",
              "value": "n8n-webhook-token"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow",
              "value": "={{ $json.workflowName }}"
            },
            {
              "name": "action",
              "value": "={{ $json.action }}"
            },
            {
              "name": "params",
              "value": "={{ $json.params }}"
            },
            {
              "name": "callbackUrl",
              "value": "={{ $json.callbackUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "={{ $json.result }}"
            }
          ]
        }
      },
      "id": "set-result",
      "name": "Set Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-18T14:30:00.000Z",
  "versionId": "1"
}
